<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="ida:Tenant" value="[Enter your tenant here, e.g. contoso.onmicrosoft.com]" />
        <add key="ida:Audience" value="[Enter your client Id here, e.g.b g075edef-0efa-453b-997b-de1337c29185" />
        <add key="ida:AADInstance" value="https://login.partner.microsoftonline.cn/{0}" />
        <!-- OR <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" /> -->
    </appSettings>
</configuration>